data/
ecommerce.db

# Python virtual environments
venv/
env/
.venv/
.env/

# dbt
ecommerce_dbt/logs/
ecommerce_dbt/target/
ecommerce_dbt/dbt_packages/
logs/
ecommerce_dbt/.user.yml
streamlit.log
test_dashboard.log
